{% extends 'base.html' %}
{#base.html 을 가져와서 사용하겠다. 상속같은 느낌#}

{% block content %}

    <div style="margin: 2rem; text-align: center;">
        <h1>METHOD</h1>

        <form action="/account/hello_world/" method="post">
            {% csrf_token %}
            <input type="text" name="input">
            <input type="submit" class="btn btn-dark rounded-pill px-5">

        </form>

        {% for data in data_list %}
            <h3>{{  data.text  }}</h3>
        {% endfor %}
    </div>


{% endblock %}