{% load bootstrap4 %}

    <div class="text-center mw-500 m-auto">
        <div class="m-5">
            <h4>Create Project</h4>
        </div>
        <div>
{#            action : 요청을 보낼 주소. 원래 / 를 썼었는데 우리는 name을 정해놨기 때문에 그걸 사용. reverse 말고 url씀#}
            <form action="{% url 'projectapp:create' %}"
                  method="post" enctype="multipart/form-data">
                {% csrf_token %}
{#                만들어준 class 에서 만든 form을 단순 출력#}
{#                -> bootstrap_form을 이용해서 form 을 출력#}
                {% bootstrap_form form %}

                <div class="m-5">
                    {#                트리거 , px-5 : padding x 축 5 #}
                    <input type="submit" class='btn btn-dark rounded-pill px-5'>
                </div>
            </form>
        </div>
    </div>

