{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>
        .container {
            padding: 0;
            margin: 0 auto;
        }
        .container div {
          {#width: 45%;#}
          {#max-width: 200px; 이 값이 이제 필요가 없음. 1대1 사이즈로 만들 거니까. 얘는 우리가 사이즈를 임의로 지정해준 거잖아#}
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 1rem;
          {#  display 수직 방향으로 쌓이도록 설정 #}
          flex-direction: column;
        }

        .container img {
            width: 7rem;
            height: 7rem;
            {#왜곡 없는 이미지 출력. 짜부된 거 출력#}
            object-fit: cover;
            border-radius: 1rem;
        {#    부모의 넓이를 그대로 가져감 #}
        }
    </style>

    <div class="container my-5">

        {% for project in project_list %}

            <div>
                <a href="{% url 'projectapp:detail' pk=project.pk %}">
                    <img src="{{ project.image.url }}" alt="">
                </a>
{#                                                         truncatechars : 절삭 !#}
                <span class="my-2 NNS_B">{{ project.name | truncatechars:10}}</span>
            </div>
        {% endfor %}
    </div>

    <script src="{% static 'js/magicgrid.js' %}"></script>

    {% include 'snippets/pagination.html' %}

    <div class="text-center my-5">
        <a href="{% url 'projectapp:create' %}"
            class="btn btn-outline-dark rounded-pill px-5">
            Create Project
        </a>
    </div>


{% endblock %}