.pragmatic_header_logo{
    margin: 2rem 0;
    font-family: 'Fira Sans', sans-serif;
}

.pragmatic_header_button{
    margin-bottom: 2rem;
}

.pragmatic_footer_logo {
    margin: 1.5rem 0;
    font-family: 'Fira Sans', sans-serif;
}

.pragmatic_footer_button {
     margin-top: 2rem;
}
/*max-width*/
/*페이지가 바로바로 안 바뀔수도 있어. 왜냐면, 페이지가 base를 정적파일로 분류를 해서 캐쉬로 저장해놔. 매번 요청하지 않기 위해서. disable cache 를 체크해둬야됨*/
.mw-500{
    max-width: 500px;
    /*이렇게 두개 넣어주면 위아래, 양옆을 말하는 거*/
    padding: 1rem 1.5rem;
}

.profile_image {
    height: 12rem;
    width: 12rem;
    border-radius: 50rem;
    object-fit: cover;
/*    비율에 맞춰서 사진 잘라냄*/

}

.NNS_B {
    font-family: "NanumSquareB", cursive;
}

.round_button {
    color: black;
    text-decoration: none;
    /*그림자의 위치(0, 0), 크기*/
    box-shadow: 0 0 3px black;
    border-radius: 20rem;
/*    내부 여백*/
    padding: 0.3rem;
}
/* hover : 마우스를 올렸을 때 */
.round_button:hover{
    color: dimgrey;
}

.article_image {
    width: 60%;
    border-radius: 2rem;
    box-shadow: 0 0 1rem grey;
}

.article_content {
    text-align: left;
    font-size: 1.1rem;
}

/* ctrl + art + l : 자동정렬 */
.comment-box {
    text-align: left;
    border: solid;
    border-color: darkgrey;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
}
/*화면 크기에 맞게 글씨 사이즈 조절. media query를 통해서 기기에 대한 정보를 얻을 수 있다*/
/*screen 너비가 500px까지 적용한다*/
/*우리가 rem을 사용했기 때문에 root인 html 의 사이즈를 줄여주는 것*/
/*default font-size = 16px*/
@media screen and (max-width: 500px) {
    html {
        font-size: 13px;
    }
}

a {
    text-decoration: none;
    color : black;
}

a:hover {
    color : black;
}