{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>
        .container div {
          width: 280px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 1rem;
          {#  display 수직 방향으로 쌓이도록 설정 #}
          flex-direction: column;
          box-shadow: 0 0 1rem grey;
        }

        .container img {
            width: 100%;
            border-radius: 1rem;
        {#    부모의 넓이를 그대로 가져감 #}
        }
    </style>

    <div class="container my-5">

        {% for article in article_list %}

            <div>
                <a href="{% url 'articleapp:detail' pk=article.pk %}">
                    <img src="{{ article.image.url }}" alt="">
                </a>
                <span class="my-2 NNS_B">{{ article.title }}</span>
            </div>
        {% endfor %}
    </div>

    <script src="{% static 'js/magicgrid.js' %}">
    </script>


{% endblock %}